In [1]:
import os
import pandas as pd
import numpy as np
import html
import functions as f

In [2]:
data = pd.read_pickle(os.path.join("data", "end_2019.pkl"))
data = data.drop(['Duration (ms)'], axis=1)

In [3]:
print(f.total_plays(data))

41249

In [4]:
f.plays_by_artist(data, "Imagine Dragons")

9221

In [5]:
data.groupby(['Artist']).sum().loc['Bastille']

Play Count              6893
Total Duration    1424943490
Name: Bastille, dtype: int64

In [6]:
artist = "Bastille".lower()
bastille = data[data['Artist'].apply(lambda x: artist in x.lower())]
bastille['Total Duration'].sum()

1482862046

In [7]:
f.length_by_artist(data, "OneRepublic", length='hours')

560.7369594444444

In [8]:
f.length_by_artist(data, length='hours')[:11]

                      Play Count  Total Duration
Artist
Imagine Dragons             9191      583.558582
OneRepublic                 8828      555.538781
Bastille                    6893      395.817636
Coldplay                    3179      236.167135
Thousand Foot Krutch        2708      163.717415
twenty one pilots           1975      128.787091
Stromae                      893       55.908821
Ed Sheeran                   941       55.560957
Hawk Nelson                  996       53.090708
Fitz & The Tantrums          843       47.445510
Panic! At The Disco          567       30.533549

In [9]:
artists = data['Artist'].unique()
artists

array(['Panic! At The Disco', 'FM Static', 'Bastille', 'nan',
       'Fitz & The Tantrums', 'Hawk Nelson', 'Imagine Dragons',
       'Coldplay', 'Rise Against', 'Linkin Park', 'Thousand Foot Krutch',
       'Nine Lashes', 'Ed Sheeran', 'Andrew McMahon in the Wilderness',
       'Pillar', 'OneRepublic', 'Alesso',
       'OneRepublic and The London Studio Orchestra', 'Owl City',
       'Stromae', 'Young The Giant', 'Timbaland', 'Red', 'Skillet',
       'Bastille and Rationale and Tyde', 'Bastille and MNEK',
       'twenty one pilots', 'American Authors', 'AJR',
       'Bastille and HAIM', 'Galantis', 'Kygo', 'Jason Dunn', 'Kongos',
       "Other People's Heartache",
       'Bastille and The Gemma Sharples Quartet',
       'Grand Canyon University', 'Marshmello', 'Alesso & OneRepublic',
       'The Drawing Room', 'Young Rising Sons', 'Rudimental',
       'Coldplay & Big Sean', 'Coldplay & Rihanna',
       "Bastille and Rag'N'Bone Man and Skunk Anansie",
       'Coldplay & The Chainsmokers', 'The Chainsmokers and Coldplay',
       'Lil Wayne, Wiz Khalifa & Imagine Dragons', 'Bastille and GRADES',
       'Bastille and GRADES and Lizzo', 'Alesso and Calvin Harris',
       'Angel Haze and Bastille and Braque and F*U*G*Z'], dtype=object)

In [10]:
data = f.compress_saved(data)
data['Artist'].unique()

array(['Panic! At The Disco', 'FM Static', 'Bastille', 'nan',
       'Fitz & The Tantrums', 'Hawk Nelson', 'Imagine Dragons',
       'Coldplay', 'Rise Against', 'Linkin Park', 'Thousand Foot Krutch',
       'Nine Lashes', 'Ed Sheeran', 'Andrew McMahon in the Wilderness',
       'Pillar', 'OneRepublic', 'Alesso', 'Owl City', 'Stromae',
       'Young The Giant', 'Timbaland', 'Red', 'Skillet',
       'twenty one pilots', 'American Authors', 'AJR', 'Galantis', 'Kygo',
       'Jason Dunn', 'Kongos', "Other People's Heartache",
       'Grand Canyon University', 'Marshmello', 'The Drawing Room',
       'Young Rising Sons', 'Rudimental', 'Alesso and Calvin Harris'],
      dtype=object)

In [11]:
f.length_by_artist(data, length='hours')

                                  Play Count  Total Duration
Artist
Imagine Dragons                         9221      585.587857
OneRepublic                             8909      560.736959
Bastille                                7155      411.906124
Coldplay                                3416      253.255570
Thousand Foot Krutch                    2708      163.717415
twenty one pilots                       1975      128.787091
Stromae                                  893       55.908821
Ed Sheeran                               941       55.560957
Hawk Nelson                              996       53.090708
Fitz & The Tantrums                      843       47.445510
Panic! At The Disco                      567       30.533549
Owl City                                 490       28.698172
Andrew McMahon in the Wilderness         354       22.372106
Rise Against                             331       18.740209
Kygo                                     286       17.110161
FM Static                                300       16.564424
Nine Lashes                              235       13.489119
Pillar                                   211       12.869219
Other People's Heartache                 184       12.341233
American Authors                         197       11.197222
AJR                                      150        8.853841
The Drawing Room                         167        7.746160
Alesso                                   130        7.481433
Skillet                                  115        6.677478
Marshmello                               101        6.013259
Galantis                                 102        5.831510
Jason Dunn                                63        3.562426
Young The Giant                           36        2.366879
Young Rising Sons                         37        2.097078
Timbaland                                 32        1.637422
Rudimental                                23        1.549267
Alesso and Calvin Harris                  29        1.477220
Linkin Park                               21        1.156724
Red                                       21        1.042600
Kongos                                    10        0.586228
Grand Canyon University                    0        0.000000
nan                                        0        0.000000

In [12]:
# should manually do this for all artists? do this when originally reading in data & save it
compress = "Bastille".lower()
to_compress = []
for artist in artists:
    if compress == artist.lower():
        to_compress.append(artist)
to_compress

['Bastille']

In [14]:
data2 = data['Artist'].unique()